# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Ignore build artifacts
dist/
build/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore package-lock.json file
package-lock.json

# Ignore any other files or directories you want to exclude